* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  font-size: 1.6rem;
}

img {
  height: 100%;
  position: relative;
}

button {
  border: none;
  cursor: pointer;
}

header {
  background-image: url(../../public/assets/macro-concept-knitting-wool-needles.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
  width: 100%;
  position: relative;
}

header::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 15rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3333333333);
}

.header {
  display: flex;
  justify-content: center;
  height: 100%;
}

h1 {
  color: #fff;
  position: absolute;
  bottom: 1rem;
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  font-family: "Vibes", cursive;
}

.input-area {
  background-color: #89726d;
  width: 34rem;
  margin: 1rem auto;
  border-radius: 1.6rem;
}
.input-area input,
.input-area select {
  border-radius: 1.6rem;
  border: none;
  text-align: center;
}

.input-area-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-name-entry,
.select-project-type,
.project-description,
.filter {
  height: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.filter {
  display: flex;
  width: 80%;
  justify-content: center;
}
.filter p {
  margin-right: 0.5rem;
}

.add-button {
  background-color: #b4aca7;
}

li {
  list-style: none;
}

.project-list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.project {
  width: 15rem;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
  position: relative;
  box-shadow: -2px 0px 47px 4px rgba(0, 0, 0, 0.18);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.img-container {
  position: relative;
  width: 100%;
  height: 60%;
}
.img-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: transparent;
}
.img-container svg {
  position: absolute;
  left: 0;
  bottom: 0;
}

.project-text {
  text-align: left;
  width: 100%;
  border-radius: 8rem;
  background-color: rgba(255, 255, 255, 0);
  height: 5rem;
}
.project-text img {
  width: 115%;
  left: -1rem;
  bottom: -15rem;
}

.name-text {
  padding: 1rem;
}

.completed .project-text {
  text-decoration: line-through;
  opacity: 0.5;
}

.expand {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.expand i {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
}

.expand:hover {
  background-color: rgba(255, 255, 255, 0.4666666667);
}

.expand:hover i {
  visibility: visible;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
.button-group i svg {
  color: #fff;
}
.button-group .complete-btn {
  background-color: #5a9027;
}
.button-group .delete-btn {
  background-color: #9a241a;
}
.button-group button {
  width: 25%;
  height: 3rem;
}

.btn-action {
  visibility: hidden;
  font-size: 1.7rem;
}

.complete-btn:hover .btn-action {
  visibility: visible;
  transform: translateX(100%);
  transition: ease 1s;
}

.delete-btn:hover .btn-action {
  visibility: visible;
  transform: translateX(-100%);
  transition: ease 1s;
}

.complete-btn:hover,
.delete-btn:hover {
  background-color: white;
}

.complete-btn:hover i svg {
  color: #5a9027;
}

.delete-btn:hover i svg {
  color: #9a241a;
}

.modal-open {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  width: 80vw;
  font-size: 2rem;
  background: #bea6a1;
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(5px);
  padding: 2rem;
  transition: 0.5s;
  z-index: 100;
}

.modal-hidden {
  display: none;
}

.exit-modal {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  background-color: transparent;
}

.open-modal {
  background-color: #d37b31;
}/*# sourceMappingURL=styles.css.map */